In [ ]:
"""
Team Nova:
Arpit Palo
Arun Kumar
Nisarg Gupta
Omkar Kanade
"""

# Code to merge temperature data with greenhouse gas data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
temp_df = pd.read_csv('Merged_Temp.csv')
temp_df = temp_df.drop(['Unnamed: 0'], axis=1)
gas_df = pd.read_csv('GHG_Data/ghg_merged.csv')
gas_df = gas_df.drop(['Unnamed: 0'], axis=1)

In [ ]:
temp_df.head()

,CountryCode,Month,Year,tmpf,dwpf,mslp,sknt,feel,relh,ice_accretion_6hr,p01i
0,AE,1,1998,65.458763,56.045068,1018.097921,6.545845,65.486669,73.471497,NaN,NaN
1,AE,2,1998,68.562623,54.735838,1016.853637,7.247619,68.508641,64.828713,NaN,NaN
2,AE,3,1998,75.013693,57.406706,1014.256000,7.266628,74.756180,59.583567,NaN,NaN
3,AE,4,1998,82.306805,58.289718,1010.446900,7.312550,82.352514,49.981098,NaN,NaN
4,AE,5,1998,90.308306,60.247751,1006.463388,6.752338,91.290631,42.404219,NaN,NaN

In [ ]:
gas_df.head()

   Year  Month CountryCode  Methane Levels  CO2 Levels   NO Levels
0  1960      1          NZ     1206.146098  315.252611  291.489521
1  1960      2          NZ     1202.801309  315.188733  291.405445
2  1960      3          NZ     1202.789472  315.209984  291.271675
3  1960      4          NZ     1205.792690  315.272289  291.194145
4  1960      5          NZ     1210.439217  315.420102  291.190428

In [ ]:
merged_df = pd.merge(temp_df, gas_df, on=['CountryCode', 'Month', 'Year'])

In [ ]:
merged_df

,CountryCode,Month,Year,tmpf,dwpf,mslp,sknt,feel,relh,ice_accretion_6hr,p01i,Methane Levels,CO2 Levels,NO Levels
0,AE,1,1998,65.458763,56.045068,1018.097921,6.545845,65.486669,73.471497,NaN,NaN,1806.199585,366.751877,313.954544
1,AE,2,1998,68.562623,54.735838,1016.853637,7.247619,68.508641,64.828713,NaN,NaN,1805.311157,367.808334,313.976395
2,AE,3,1998,75.013693,57.406706,1014.256000,7.266628,74.756180,59.583567,NaN,NaN,1803.840637,368.712509,314.042526
3,AE,4,1998,82.306805,58.289718,1010.446900,7.312550,82.352514,49.981098,NaN,NaN,1799.752197,369.476974,314.056015
4,AE,5,1998,90.308306,60.247751,1006.463388,6.752338,91.290631,42.404219,NaN,NaN,1792.533752,369.468079,314.104630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85796,ZW,8,1980,64.313430,40.553678,NaN,7.837230,63.903915,46.814242,NaN,NaN,1551.226420,338.093353,300.827647
85797,ZW,9,1980,70.603867,48.065622,NaN,7.750000,69.999493,51.427548,NaN,NaN,1554.462809,337.946060,300.946615
85798,ZW,10,1980,74.283110,50.029111,NaN,7.964381,73.499443,49.129371,NaN,NaN,1555.922282,338.084656,301.053665
85799,ZW,11,1980,75.160548,58.477686,NaN,6.815789,74.986621,60.902681,NaN,NaN,1555.488851,338.430725,301.167811
85800,ZW,12,1980,73.573793,61.692597,NaN,6.568493,73.857920,70.324348,NaN,NaN,1555.952209,338.724620,301.260442

In [ ]:
years = merged_df['Year'].unique()
years = np.sort(years)
years

array([1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014])

In [ ]:
# merged_df.to_csv('merged_temp_ghg.csv')

In [ ]:
merged_df[merged_df['CountryCode'] == 'IN'].corr()

,Month,Year,tmpf,dwpf,mslp,sknt,feel,relh,ice_accretion_6hr,p01i,Methane Levels,CO2 Levels,NO Levels
Month,1.000000,-0.002403,-0.004694,0.346107,-0.021807,-0.247085,0.066434,0.478004,NaN,0.097627,-0.006629,-0.050205,0.013650
Year,-0.002403,1.000000,0.064743,0.072814,-0.000706,-0.100006,0.068488,0.020866,NaN,0.034310,0.948554,0.988466,0.992117
tmpf,-0.004694,0.064743,1.000000,0.689924,-0.880230,0.739489,0.972839,-0.067720,NaN,-0.104096,-0.000854,0.066684,0.057718
dwpf,0.346107,0.072814,0.689924,1.000000,-0.845096,0.592966,0.825295,0.672119,NaN,-0.087289,-0.003449,0.020530,0.069564
mslp,-0.021807,-0.000706,-0.880230,-0.845096,1.000000,-0.838208,-0.949988,-0.275158,NaN,0.065514,0.076977,0.018397,0.007758
sknt,-0.247085,-0.100006,0.739489,0.592966,-0.838208,1.000000,0.779213,0.064134,NaN,-0.064940,-0.185027,-0.078291,-0.106069
feel,0.066434,0.068488,0.972839,0.825295,-0.949988,0.779213,1.000000,0.145855,NaN,-0.105909,-0.008063,0.056850,0.062322
relh,0.478004,0.020866,-0.067720,0.672119,-0.275158,0.064134,0.145855,1.000000,NaN,-0.011437,-0.015116,-0.054430,0.023008
ice_accretion_6hr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
p01i,0.097627,0.034310,-0.104096,-0.087289,0.065514,-0.064940,-0.105909,-0.011437,NaN,1.000000,0.094829,0.046041,0.048832
Methane Levels,-0.006629,0.948554,-0.000854,-0.003449,0.076977,-0.185027,-0.008063,-0.015116,NaN,0.094829,1.000000,0.906691,0.908533
CO2 Levels,-0.050205,0.988466,0.066684,0.020530,0.018397,-0.078291,0.056850,-0.054430,NaN,0.046041,0.906691,1.000000,0.994493
NO Levels,0.013650,0.992117,0.057718,0.069564,0.007758,-0.106069,0.062322,0.023008,NaN,0.048832,0.908533,0.994493,1.000000

In [ ]:
# plt.plot(merged_df[])
agg_df = merged_df.groupby('Year').max()
# agg_df

/var/folders/c3/m44j2qx97f9bdyhx6dfy1p240000gn/T/ipykernel_99434/1535369960.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  agg_df = merged_df.groupby('Year').max()

In [ ]:
# agg_df.corr()

In [ ]:
corrs = {}
for month in range(1, 13):
    month_df = merged_df[merged_df['Month'] == month]
    corrs[month] = (month_df.corr()[['CO2 Levels', 'Year']].loc['tmpf'])

In [ ]:
corrs

{1: CO2 Levels    0.031020
 Year          0.107439
 Name: tmpf, dtype: float64,
 2: CO2 Levels    0.032914
 Year          0.102441
 Name: tmpf, dtype: float64,
 3: CO2 Levels    0.048769
 Year          0.105227
 Name: tmpf, dtype: float64,
 4: CO2 Levels    0.072265
 Year          0.107980
 Name: tmpf, dtype: float64,
 5: CO2 Levels    0.092608
 Year          0.098393
 Name: tmpf, dtype: float64,
 6: CO2 Levels    0.108421
 Year          0.089154
 Name: tmpf, dtype: float64,
 7: CO2 Levels    0.103354
 Year          0.083433
 Name: tmpf, dtype: float64,
 8: CO2 Levels    0.091237
 Year          0.074953
 Name: tmpf, dtype: float64,
 9: CO2 Levels    0.101288
 Year          0.086192
 Name: tmpf, dtype: float64,
 10: CO2 Levels    0.089037
 Year          0.100893
 Name: tmpf, dtype: float64,
 11: CO2 Levels    0.065729
 Year          0.112815
 Name: tmpf, dtype: float64,
 12: CO2 Levels    0.038653
 Year          0.111152
 Name: tmpf, dtype: float64}